@import 'tailwindcss' source(none);

@source "../cav-utilities/components/links_page.latte";

.menu-item-text {
   @apply flex justify-center items-center gap-2 font-semibold;
}

.menu-item-description {
   @apply font-light text-base;
}
