<div class="flex items-center gap-5 py-5 px-4">
   <div class="w-90 shrink-0"></div>
   <button class="py-2 px-5 rounded-sm !font-medium !text-lg cursor-pointer text-zinc-800 bg-blue-400" type="submit">{$label}</button>
</div>
