body {
   background: #282a36;
}

/* Links */
a {
   color: #8be9fd;
}

a:hover,
a:active,
a:focus {
   color: #bdf3fe;
}

#post-body .misc-pub-post-status:before,
#post-body #visibility:before,
.curtime #timestamp:before,
#post-body .misc-pub-revisions:before,
span.wp-media-buttons-icon:before {
   color: currentColor;
}

/* Text */
h1,
h2,
h3,
body,
.form-wrap p,
p.description,
#wpfooter,
.form-table th,
.form-wrap label,
.form-table > tbody > .acf-field > .acf-label label {
   color: #f8f8f2 !important;
}

/* Forms */
input[type='checkbox']:checked::before {
   content: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23f8f8f2%27%2F%3E%3C%2Fsvg%3E');
}

input[type='radio']:checked::before {
   background: #f8f8f2;
}

.wp-core-ui input[type='reset']:hover,
.wp-core-ui input[type='reset']:active {
   color: #bdf3fe;
}

.card {
   background-color: #44475a;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='week']:focus,
input[type='checkbox']:focus,
input[type='radio']:focus,
select:focus,
textarea:focus {
   border-color: #69a8bb;
   box-shadow: 0 0 0 1px #69a8bb;
}

/* Core UI */
.wp-core-ui .button,
.wp-core-ui .button-secondary {
   color: #44475a;
   border-color: #44475a;
}

.wp-core-ui .button.hover,
.wp-core-ui .button:hover,
.wp-core-ui .button-secondary:hover,
.wp-core-ui .button.focus,
.wp-core-ui .button:focus,
.wp-core-ui .button-secondary:focus {
   border-color: #393c4b;
   color: #393c4b;
}

.wp-core-ui .button.focus,
.wp-core-ui .button:focus,
.wp-core-ui .button-secondary:focus {
   border-color: #44475a;
   color: #393c4b;
   box-shadow: 0 0 0 1px #44475a;
}

.wp-core-ui .button:active {
   background: #393c4b;
   border-color: #393c4b;
}

.wp-core-ui .button.active,
.wp-core-ui .button.active:focus,
.wp-core-ui .button.active:hover {
   border-color: #393c4b;
   color: #393c4b;
   box-shadow: inset 0 2px 5px -3px #393c4b;
}

.wp-core-ui .button-primary {
   background: #44475a;
   border-color: #44475a;
   color: #fff;
}

.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus {
   background: #4b4e63;
   border-color: #3d4051;
   color: #fff;
}

.wp-core-ui .button-primary:focus {
   box-shadow: 0 0 0 1px #fff, 0 0 0 3px #44475a;
}

.wp-core-ui .button-primary:active {
   background: #393c4b;
   border-color: #393c4b;
   color: #fff;
}

.wp-core-ui .button-primary.active,
.wp-core-ui .button-primary.active:focus,
.wp-core-ui .button-primary.active:hover {
   background: #44475a;
   color: #fff;
   border-color: #23252e;
   box-shadow: inset 0 2px 5px -3px black;
}

.wp-core-ui .button-primary[disabled],
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary.button-primary-disabled,
.wp-core-ui .button-primary.disabled {
   color: #c7c8d1 !important;
   background: #323543 !important;
   border-color: #323543 !important;
   text-shadow: none !important;
}

.wp-core-ui .button-group > .button.active {
   border-color: #44475a;
}

.wp-core-ui .wp-ui-primary {
   color: #f8f8f2;
   background-color: #44475a;
}

.wp-core-ui .wp-ui-text-primary {
   color: #44475a;
}

.wp-core-ui .wp-ui-highlight {
   color: #f8f8f2;
   background-color: #69a8bb;
}

.wp-core-ui .wp-ui-text-highlight {
   color: #69a8bb;
}

.wp-core-ui .wp-ui-notification {
   color: #f8f8f2;
   background-color: #ff5555;
}

.acf-required,
.wp-core-ui .wp-ui-text-notification {
   color: #ff5555;
}

.wp-core-ui .wp-ui-text-icon {
   color: #f1f2f3;
}

/* List tables */
.wrap .add-new-h2:hover,
.wrap .page-title-action:hover {
   color: #f8f8f2;
   background-color: #44475a;
}

.view-switch a.current:before {
   color: #44475a;
}

.view-switch a:hover:before {
   color: #ff5555;
}

/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
   background: #44475a;
}

#adminmenu a {
   color: #f8f8f2;
}

#adminmenu div.wp-menu-image:before {
   color: #f1f2f3;
}

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
   color: #f8f8f2;
   background-color: #69a8bb;
}

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
   color: #f8f8f2;
}

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
   background-color: #282a36;
   border-bottom-color: #282a36;
}

/* Admin Menu: submenu */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
   background: #353746;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
   border-right-color: #353746;
}

#adminmenu .wp-submenu .wp-submenu-head {
   color: #c2c3c4;
}

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
   color: #c2c3c4;
}

#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu .wp-submenu a:hover,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
   color: #69a8bb;
}

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
   color: #f8f8f2;
}

#adminmenu .wp-submenu li.current a:hover,
#adminmenu .wp-submenu li.current a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
   color: #69a8bb;
}

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
   border-right-color: #282a36;
}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
   color: #f8f8f2;
   background: #69a8bb;
}

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
.ie8 #adminmenu li.opensub div.wp-menu-image:before {
   color: #f8f8f2;
}

/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
   color: #f8f8f2;
   background: #ff5555;
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
   color: #f8f8f2;
   background: #353746;
}

/* Admin Menu: collapse button */
#collapse-button {
   color: #f1f2f3;
}

#collapse-button:hover,
#collapse-button:focus {
   color: #69a8bb;
}

/* Admin Bar */
#wpadminbar {
   color: #f8f8f2;
   background: #44475a;
}

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
   color: #f8f8f2;
}

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
   color: #f1f2f3;
}

#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
   color: #69a8bb;
   background: #353746;
}

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
   color: #69a8bb;
}

#wpadminbar:not(.mobile) li:hover .ab-icon:before,
#wpadminbar:not(.mobile) li:hover .ab-item:before,
#wpadminbar:not(.mobile) li:hover .ab-item:after,
#wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
   color: #f8f8f2;
}

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
   background: #353746;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
   background: #5a5c68;
}

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
   color: #c2c3c4;
}

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
   color: #f1f2f3;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li #adminbarsearch.adminbar-focused:before {
   color: #69a8bb;
}

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before,
#wpadminbar.mobile .quicklinks .ab-icon:before,
#wpadminbar.mobile .quicklinks .ab-item:before {
   color: #69a8bb;
}

#wpadminbar.mobile .quicklinks .hover .ab-icon:before,
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
   color: #f1f2f3;
}

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
   color: #f1f2f3;
}

#wpadminbar
   > #wp-toolbar
   > #wp-admin-bar-top-secondary
   > #wp-admin-bar-search
   #adminbarsearch
   input.adminbar-input:focus {
   color: #f8f8f2;
   background: #53576e;
}

/* Admin Bar: recovery mode */
#wpadminbar #wp-admin-bar-recovery-mode {
   color: #f8f8f2;
   background-color: #ff5555;
}

#wpadminbar #wp-admin-bar-recovery-mode .ab-item,
#wpadminbar #wp-admin-bar-recovery-mode a.ab-item {
   color: #f8f8f2;
}

#wpadminbar .ab-top-menu > #wp-admin-bar-recovery-mode.hover > .ab-item,
#wpadminbar.nojq
   .quicklinks
   .ab-top-menu
   > #wp-admin-bar-recovery-mode
   > .ab-item:focus,
#wpadminbar:not(.mobile)
   .ab-top-menu
   > #wp-admin-bar-recovery-mode:hover
   > .ab-item,
#wpadminbar:not(.mobile)
   .ab-top-menu
   > #wp-admin-bar-recovery-mode
   > .ab-item:focus {
   color: #f8f8f2;
   background-color: #e64d4d;
}

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
   border-color: #53576e;
   background-color: #53576e;
}

#wpadminbar #wp-admin-bar-user-info .display-name {
   color: #f8f8f2;
}

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
   color: #69a8bb;
}

#wpadminbar #wp-admin-bar-user-info .username {
   color: #c2c3c4;
}

/* Pointers */
.wp-pointer .wp-pointer-content h3 {
   background-color: #69a8bb;
   border-color: #579eb3;
}

.wp-pointer .wp-pointer-content h3:before {
   color: #69a8bb;
}

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
   border-bottom-color: #69a8bb;
}

/* Media */
.media-item .bar,
.media-progress-bar div {
   background-color: #69a8bb;
}

.details.attachment {
   box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #69a8bb;
}

.attachment.details .check {
   background-color: #69a8bb;
   box-shadow: 0 0 0 1px #fff, 0 0 0 2px #69a8bb;
}

.media-selection .attachment.selection.details .thumbnail {
   box-shadow: 0 0 0 1px #fff, 0 0 0 3px #69a8bb;
}

/* Themes */
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover:after,
.theme-browser .theme.add-new-theme a:focus:after {
   background: #69a8bb;
}

.theme-browser .theme.add-new-theme a:hover span:after,
.theme-browser .theme.add-new-theme a:focus span:after {
   color: #69a8bb;
}

.theme-section.current,
.theme-filter.current {
   border-bottom-color: #44475a;
}

body.more-filters-opened .more-filters {
   color: #f8f8f2;
   background-color: #44475a;
}

body.more-filters-opened .more-filters:before {
   color: #f8f8f2;
}

body.more-filters-opened .more-filters:hover,
body.more-filters-opened .more-filters:focus {
   background-color: #69a8bb;
   color: #f8f8f2;
}

body.more-filters-opened .more-filters:hover:before,
body.more-filters-opened .more-filters:focus:before {
   color: #f8f8f2;
}

/* Widgets */
.widgets-chooser li.widgets-chooser-selected {
   background-color: #69a8bb;
   color: #f8f8f2;
}

.widgets-chooser li.widgets-chooser-selected:before,
.widgets-chooser li.widgets-chooser-selected:focus:before {
   color: #f8f8f2;
}

/* Responsive Component */
div#wp-responsive-toggle a:before {
   color: #f1f2f3;
}

.wp-responsive-open div#wp-responsive-toggle a {
   border-color: transparent;
   background: #69a8bb;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
   background: #353746;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
   color: #f1f2f3;
}

.color-option.selected,
.color-option:hover,
.notice,
div.error,
div.updated {
   background-color: #44475a;
}

/* TinyMCE */
.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item.mce-selected,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item-normal.mce-active,
.mce-container.mce-menu .mce-menu-item-preview.mce-active {
   background: #69a8bb;
}
